<link rel="stylesheet" href="css/crear_art.css" />
    
    <div ng-include="'html/topbar.html'"></div>

    <!-- Templates a escoger -->
    <section>
      <div class="row column">
        <hr />
        <h4 class="text-center">Creación de artículos</h4>
        <hr />
        <br />
        <h5>Seleccione el template que desea utilziar para su artículo:</h5>
        <br />
      </div>
      <div class="row">
        <div class="large-4 column product-card">
          <div class="product-card-thumbnail">
            <img src="imagenes/Template1.jpg" />
          </div>
          <h6 class="product-card-title">
            Template 1
          </h6>
          <span class="product-card-desc"
            >Description Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </span>
          <button ng-click="setPlantillaToCreate(1);" class="button success" data-open="crear-t1">
            <i class="fi-plus"> Crear articulo</i>
          </button>
        </div>
        <div class="large-4 column product-card">
          <div class="product-card-thumbnail">
            <img src="imagenes/Template2.jpg" />
          </div>
          <h6 class="product-card-title">
            Template 2
          </h6>
          <span class="product-card-desc"
            >Description Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </span>
          <button ng-click="setPlantillaToCreate(2);" class="button success" data-open="crear-t2">
            <i class="fi-plus"> Crear articulo</i>
          </button>
        </div>
        <div class="large-4 column product-card">
          <div class="product-card-thumbnail">
            <img src="imagenes/Template3.jpg" />
          </div>
          <h6 class="product-card-title">
            Template 3
          </h6>
          <span class="product-card-desc"
            >Description Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </span>
          <button ng-click="setPlantillaToCreate(3);" class="button success" data-open="crear-t3">
            <i class="fi-plus"> Crear articulo</i>
          </button>
        </div>
      </div>
    </section>
    <br />
    <br />
    <br />
    <br />

    <!-- Tabla de articulos -->
    <section>
      <div class="row">
        <table>
          <div class="row encabezado">
            <h4 class="titulo">Mis artículos</h4>
          </div>
          <thead>
            <tr>
              <th>Id Artículo</th>
              <th>Titulo del artículo</th>
              <th>Fecha de publicación</th>
              <th>Plantilla</th>
              <th>Categoria</th>
              <th>SubCategoria</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="articulo in articulos">
              <td>{{articulo.id_a}}</td>
              <td>
                {{articulo.titulo}}
              </td>
              <td>
                  {{articulo.fecha_p}}
              </td>
              <td>
                {{articulo.plantilla}}
              </td>
              <td>
                {{articulo.nombre_categoria}}
              </td>
              <td>
                {{articulo.nombre_sub_categoria}}
              </td>
              <td>
                <button ng-click="updating(articulo);setCategoryToUpdate();" class="button warning" data-open="editar-cat">
                  <i class="fi-pencil"></i>
                </button>
                <button ng-click="setArticuloToDelete(articulo);" class="button alert" data-open="del-cat">
                  <i class="fi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- Modales -->
    <div class="reveal" id="editar-cat" data-reveal role="dialog">
      <div class="large-12 columns">
        <h4 class="text-center">Editor de Artículo</h4>
        <hr />
        <p>
          Llene los siguientes campos para editar el artículo seleccionado
        </p>
        <div class="large-12 columns">
          <form>
              <label>Categoria
                  <select ng-model="categoriaToUpdate" ng-change="setCategoryToUpdate();">      
                      <option value="" disabled selected>Selecciona una categoria</option>                  
                      <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
                  </select>
              </label> 
              <label>SubCategoria
                  <select ng-model="subCategoriaToUpdate">      
                      <option value="" disabled selected>Selecciona una subcategoria</option>                  
                      <option ng-repeat="subcategoria in subcategorias" value="{{subcategoria.id_s_c}}">{{subcategoria.nombre}}</option>                      
                  </select>
              </label> 
              <label>Plantilla
                  <select ng-model="plantillaToUpdate">      
                      <option value="" disabled selected>Selecciona una plantilla</option>                  
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>                      
                  </select>
              </label> 
            <p>
              <input
              ng-click="updateArticle()"
                type="button"
                class="button expanded warning"
                value="Actualizar"
              />
            </p>
          </form>
          <br />
        </div>
        <button
          class="close-button"
          data-close
          aria-label="Close modal"
          type="button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="reveal" id="del-cat" data-reveal>
      <h4 class="text-center">Eliminar artículo</h4>
      <hr />
      <p>
        ¿Está seguro que desea eliminar este artículo?
      </p>
      <p>
        <button class="button" data-close aria-label="Close modal">
          Cancelar
        </button>
        <button data-close ng-click="deleteArticle();" class="button alert">Eliminar</button>
      </p>
    </div>
    <div class="reveal" id="crear-t1" data-reveal>
      <h4 class="text-center">Artículo - Template 1</h4>
      <hr />
      <p>
        Llene los siguientes campos para crear un artículo
      </p>
      <div class="large-12 columns">
        <form>
          <label
            >Título del artículo
            <input ng-model="createTitle" type="text" placeholder="Titulo del articulo" />
          </label>
          <label>Categoria
              <select ng-change="setCategoryToCreate()" ng-model="createIdC">      
                  <option value="" disabled selected>Selecciona una categoria</option>                  
                  <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
              </select>
          </label> 
          <label>SubCategoria
              <select ng-model="createIdSC">      
                  <option value="" disabled selected>Selecciona una subcategoria</option>                  
                  <option ng-repeat="subcategoria in subcategorias" value="{{subcategoria.id_s_c}}">{{subcategoria.nombre}}</option>                      
              </select>
          </label> 
          <label
            >Contenido del artículo
            <textarea ng-model="createText" placeholder="Ingrese el texto de su articulo"></textarea>
          </label>
          <label class="large-6 column"
            >Seleccione la imagen de portada
            <input type="file" name="archivo" value="image/*" />
          </label>
          <label class="large-6 column"
            >Seleccione 2 imagenes para el artiículo
            <input type="file" name="archivo" value="image/*" />
            <input type="file" name="archivo" value="image/*" />
          </label>
          <p>
            <input
            ng-click="createArticle()"
              type="button"
              data-close
              class="button expanded success"
              value="Crear artículo"
            />
          </p>
        </form>
        <br />
      </div>
      <button
        class="close-button"
        data-close
        aria-label="Close modal"
        type="button"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="reveal" id="crear-t2" data-reveal>
      <h4 class="text-center">Artículo - Template 2</h4>
      <hr />
      <p>
        Llene los siguientes campos para crear un artículo
      </p>
      <div class="large-12 columns">
        <form>
            <label
            >Título del artículo
            <input ng-model="createTitle" type="text" placeholder="Titulo del articulo" />
          </label>
          <label>Categoria
              <select ng-change="setCategoryToCreate()" ng-model="createIdC">      
                  <option value="" disabled selected>Selecciona una categoria</option>                  
                  <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
              </select>
          </label> 
          <label>SubCategoria
              <select ng-model="createIdSC">      
                  <option value="" disabled selected>Selecciona una subcategoria</option>                  
                  <option ng-repeat="subcategoria in subcategorias" value="{{subcategoria.id_s_c}}">{{subcategoria.nombre}}</option>                      
              </select>
          </label> 
          <label
            >Contenido del artículo
            <textarea ng-model="createText" placeholder="Ingrese el texto de su articulo"></textarea>
          </label>
          <label class="large-6 column"
            >Seleccione la imagen de portada
            <input type="file" name="archivo" value="image/*" />
          </label>
          <label class="large-6 column"
            >Seleccione 1 imagen para el artiículo
            <input type="file" name="archivo" value="image/*" />
          </label>
          <p>
              <input
              ng-click="createArticle()"
                type="button"
                data-close
                class="button expanded success"
                value="Crear artículo"
              />
          </p>
        </form>
        <br />
      </div>
      <button
        class="close-button"
        data-close
        aria-label="Close modal"
        type="button"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="reveal" id="crear-t3" data-reveal>
      <h4 class="text-center">Artículo - Template 2</h4>
      <hr />
      <p>
        Llene los siguientes campos para crear un artículo
      </p>
      <div class="large-12 columns">
        <form>
            <label
            >Título del artículo
            <input ng-model="createTitle" type="text" placeholder="Titulo del articulo" />
          </label>
          <label>Categoria
              <select ng-change="setCategoryToCreate()" ng-model="createIdC">      
                  <option value="" disabled selected>Selecciona una categoria</option>                  
                  <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
              </select>
          </label> 
          <label>SubCategoria
              <select ng-model="createIdSC">      
                  <option value="" disabled selected>Selecciona una subcategoria</option>                  
                  <option ng-repeat="subcategoria in subcategorias" value="{{subcategoria.id_s_c}}">{{subcategoria.nombre}}</option>                      
              </select>
          </label> 
          <label
            >Contenido del artículo
            <textarea ng-model="createText" placeholder="Ingrese el texto de su articulo"></textarea>
          </label>
          <label class="large-6 column"
            >Seleccione la imagen de portada
            <input type="file" name="archivo" value="image/*" />
          </label>
          <label class="large-6 column"
            >Seleccione 4 imágenes para el Carrousel
            <input type="file" name="archivo" value="image/*" />
            <input type="file" name="archivo" value="image/*" />
            <input type="file" name="archivo" value="image/*" />
            <input type="file" name="archivo" value="image/*" />
          </label>
          <p>
              <input
              ng-click="createArticle()"
                type="button"
                data-close
                class="button expanded success"
                value="Crear artículo"
              />
          </p>
        </form>
        <br />
      </div>
      <button
        class="close-button"
        data-close
        aria-label="Close modal"
        type="button"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Footer -->
    <footer>
      <div class="row">
        <ul class="menu">
          <li class="texto">Copyright © | Todos los derechos reservados.</li>
        </ul>
      </div>
    </footer>
