<link rel="stylesheet" href="css/login.css" />
<div ng-include="'html/topbar.html'"></div>
    <section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" id="login">
            <div class="large-12 columns">
              <form>
                <h4 class="text-center">Iniciar sesión</h4>
                <label>Email
                    <input type="email" placeholder="somebody@example.com" ng-model="correo">
                  </label>
                  <label>Password
                      <input type="password" placeholder="Contraseña" ng-model="contrasena">
                    </label>     
                      <button class="button expanded" ng-click="login()">Iniciar sesión</button>  
                <p class="text-center">
                  <a href="#registro">Crear una cuenta</a>
                </p>
              </form>
              <br />
            </div>
          </div>
      <br />
        <br />
        <br />
        <br />
    </section>


    <footer>      
        <div class="row footer"> 
          <p class="menu align-left">
                <strong >Copyright ©, Todos los derechos reservados.</strong>
          </p>
          
        </div>
      </footer>