
    <header> 
        <div ng-include="'html/topbar.html'"></div>
    </header>
    <section>
        <br />
        <br />
        <br />
        <br />
        <br />
      <div class="row" id="login">
        <div class="large-12 columns">
          <form>
            <h4 class="text-center">Iniciar sesión</h4>
              <label>Email
                <input type="email" placeholder="somebody@example.com" ng-model="correo">
              </label>
              <label>Password
                <input type="password" placeholder="Contraseña" ng-model="contrasena">
              </label>         
                <button ng-click="login()">Iniciar sesión</button>  
            </form> 
            <br />                                   
        </div>        
      </div>
      <br />
        <br />
        <br />
        <br />
    </section>


    <footer>      
        <div class="row footer"> 
          <p class="menu align-left">
                <strong >Copyright ©, Todos los derechos reservados.</strong>
          </p>
          
        </div>
      </footer>