<link rel="stylesheet" href="css/modulo-anuncios.css" />

    <div ng-include="'html/topbar.html'"></div>

    <section>
      <br />
      <h3>Módulo de anuncios</h3>
      <hr />
      <!-- Boton para crear anuncios -->
      <div class="row">
        <button
          class="button success"
          type="button"
          data-toggle="example-dropdown"
        >
          Nuevo anuncio
        </button>
        <div
          class="dropdown-pane  success"
          id="example-dropdown"
          data-dropdown
          data-auto-focus="true"
        >
          <h4>Creación de anuncio</h4>
          <form>
            <div class="grid-container">
              <div class="row">
                <div class="large-6 column">
                  <label>
                    <h6>Nombre del anuncio</h6>
                    <input type="text" placeholder="Nombre del anuncio" ng-model="createName" />
                  </label>
                </div>
                <div class="large-6 column">
                  <label>
                    <h6>Link de la imagen</h6>
                    <input
                      ng-model="createLinkImagen"
                      type="url"
                      name="direccion"
                      placeholder="https://www.ejemplo.com/"
                    />
                  </label>
                </div>
              </div>
                <button ng-click="createAd()" class="button crear">
                  Crear
                </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Lista de anuncios -->
      <div class="row">
        <div class="large-6 column" ng-repeat="anuncio in anuncios">
          <div class="large-7 columns">
            <p>
              <img
                class="foto-anuncio"
                src="{{anuncio.link_imagen}}"
              />
            </p>
          </div>
          <div class="large-5 columns anuncio-contenido">
            <h4 class="nom-anuncio">
              <i>{{anuncio.nombre}}</i>
            </h4>
            <button ng-click="deleteAd(anuncio)" class="button button-danger">
              Eliminar
            </button>
          </div>
        </div>
      </div>
      <br />
    </section>

    <footer>
      <div class="row">
        <ul class="menu">
          <li class="texto">Copyright © | Todos los derechos reservados.</li>
        </ul>
      </div>
    </footer>
