
    <header>
        <div>
          <div
            class="title-bar"
            data-responsive-toggle="responsive-menu"
            data-hide-for="medium"
          >
            <button
              class="menu-icon alert"
              type="button"
              data-toggle="responsive-menu"
            ></button>
            <div class="title-bar-title">Menu</div>
          </div>
  
          <div ng-include="'html/topbar.html'"></div>
      </header>
  
      <section>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
          <div class="large-12 columns">
              <table>
                  <div class="large-12 columns encabezado">
                      <h4 class="titulo">Sub Categorias</h4>
                  </div>   
              <thead>                                                              
                <tr>
                  <th>Id Sub Categoria</th>
                  <th>Nombre de la sub categoria</th>
                  <th>Categoria</th>
                  <th>Acciones</th>            
                </tr>
              </thead>        
              <tbody>
                <tr ng-repeat="subcategoria in subcategorias">
                  <td>{{subcategoria.id_s_c}}</td>
                  <td>
                    {{subcategoria.nombre}}
                  </td>
                  <td>{{subcategoria.nombre_categoria}}</td>
                  <td> 
                      <button class="button warning" data-open="editar-cat" ng-click="setSubCategoryToUpdate(subcategoria);">
                          <i class="fi-pencil"></i>
                      </button>
                      <button class="button alert" data-open="del-cat" ng-click="setSubCategoriaToDelete(subcategoria);">
                          <i class="fi-trash"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
        <div class="row"> 
          <div class="large-7 columns">
              <button class="button success" data-open="crear-cat">
                  <i class="fi-plus"> Crear sub categoria</i>
                </button>
          </div>          
        </div>                      
        
      </section>
  
      <div class="reveal row" id="editar-cat" data-reveal>    
        <div class="large-12 columns">
            <h4 class="text-center">Editor de categoría</h4>
            <hr>
            <p>
              Llene los siguientes campos para editar la categoría seleccionada
            </p>      
                  <div class="large-12 columns">
                    <form>        
                      <label>Nombre de la subcategoria
                          <input ng-model="subcategoryToUpdate.nombre" type="text" placeholder="Sub categoria">
                      </label>
                      <label>Categoria
                          <select ng-model="subcategoryToUpdate.id_c">      
                              <option value="" disabled selected>Selecciona una categoria</option>                  
                              <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
                          </select>
                      </label>                
                      <p>
                          <button data-close ng-click="updateSubCategory();" class="button expanded success">Actualizar</button>
                      </p>                                
                      </form> 
                      <br />                                         
                  </div>
            <button
              class="close-button"
              data-close
              aria-label="Close modal"
              type="button"
            >
              <span aria-hidden="true">&times;</span>
            </button>      
        </div>       
        
      </div>    
      <div class="reveal" id="crear-cat" data-reveal>      
              <h4 class="text-center">Crear nueva categoría</h4>
              <hr>
              <p>
                Llene los siguientes campos para crear una nueva categoría
              </p>      
                    <div class="large-12 columns">
                      <form>        
                        <label>Nombre de la subcategoría
                            <input ng-model="createName" type="text" placeholder="Sub Categoria">
                        </label>
                        <label>Subscripcion
                            <select ng-model="createIdC">      
                                <option value="" disabled selected>Selecciona una categoria</option>                  
                                <option ng-repeat="categoria in categorias" value="{{categoria.id_c}}">{{categoria.nombre}}</option>                      
                            </select>
                        </label>                
                        <p>
                            <button data-close ng-click="createSubCategory();" class="button expanded success">Agregar</button>
                        </p>                                
                        </form> 
                        <br />                                         
                    </div>
              <button
                class="close-button"
                data-close
                aria-label="Close modal"
                type="button"
              >
                <span aria-hidden="true">&times;</span>
              </button>      
      </div>
      <div class="reveal" id="del-cat" data-reveal>      
        <h4 class="text-center">Eliminar subcategoría</h4>
        <hr>
        <p>
          ¿Está seguro que desea eliminar esta subcategoría?
        </p>      
        <p>
            <button class="button" data-close aria-label="Close modal">Cancelar</button>
            <button class="button alert" data-close ng-click="deleteSubCategory();">Eliminar</button>                  
        </p>                                
      </div>  