@charset "UTF-8";
.barra {
  background-color: #e68d10;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}

.logo-space {
  display: table;
  height: 250px;
}
.logo-space .logo-container {
  display: table-cell;
  vertical-align: middle;
}
.logo-space .logo {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.top-bar {
  background-color: #555;
}

.title-bar {
  background-color: #e68d10;
}

.menu-container ul {
  background-color: #555;
}

nav a {
  color: white;
}
nav a:focus,
nav a:hover {
  color: white;
}
nav .submenu a {
  color: #555;
}
nav li:hover,
nav li:focus {
  background-color: #e68d10;
}
nav .top-bar-right li:hover,
nav .top-bar-right li:focus {
  background-color: transparent;
}
nav .button {
  border-radius: 8px;
  background-color: #e68d10;
}
nav .button:hover,
nav .button:focus {
  background-color: #e68d10c9;
}

footer {
  background-color: #555;
  height: 50px;
  text-align: center;
  color: white;
}
footer .texto {
  line-height: 50px;
}

img {
  width: 300px;
  height: 160px;
}

.adds {
  width: 100%;
}

/* Diseño para los art destacados */
.image-hover {
  position: relative;
}
.image-hover a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}
.image-hover a img {
  float: left;
  overflow: hidden;
  width: 100%;
}
.image-hover a .image-hover-reveal {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}
.image-hover a .image-hover-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.image-hover a .image-hover-reveal:hover p {
  opacity: 1;
  transform: translateY(-10%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}
.image-hover a .image-hover-reveal p {
  bottom: 0;
  display: block;
  opacity: 0;
  position: absolute;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.image-hover a .fa {
  font-size: 24px;
}
.image-hover .image-hover-banner {
  background-color: rgba(230, 141, 16, 0.8);
  color: white;
  font-weight: 550;
  left: 10;
  padding: 8px;
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 10;
}

/* Diseño de la lista de cat y sub cat */
.expand-column-wrapper {
  height: 100%;
  max-wdtih: 1000px;
}
.expand-column-wrapper .cell {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expand-column-wrapper .cell:hover {
  flex-basis: 40%;
}
.expand-column-wrapper .cell:hover .expand-column-content {
  opacity: 1;
}
.expand-column-wrapper .expand-column-content {
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 39.9375em) {
  .expand-column-wrapper {
    flex-direction: column;
  }
}

.expand-column-wrapper .cell:nth-of-type(1) {
  background: url("https://corbuse.edu.mx/blog/wp-content/uploads/2019/02/CORBUS%C3%89-como-emprender-un-negocio-de-comida-ser-chef-es-el-primer-paso.jpg") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.expand-column-wrapper .cell:nth-of-type(2) {
  background: transparent url("https://www.perspectiva.com.gt/wp-content/uploads/guia-de-regalos-para-un-papa-con-estilo-saul-saul-e-mendez-suscripcion-al-gym.jpg") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.expand-column-wrapper .cell:nth-of-type(3) {
  background: url("https://reddigitalusa.com/wp-content/uploads/2017/11/Fondox.net_usain-bolt-en-los-juegos_1680x1050.jpg") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.expand-column-wrapper .cell:nth-of-type(4) {
  background: url("https://img.cancaonova.com/cnimages/canais/uploads/sites/15/2018/11/Casa-do-m%C3%BAsico-F%C3%A9-em-Deus-e-p%C3%A9-na-estrada.png") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.expand-column-wrapper .cell:nth-of-type(5) {
  background: url("https://ultra106five.com/wp-content/uploads/2019/07/Shane-Michael-Hutton-Public-speaking.jpg") center center no-repeat;
  height: 100%;
  background-size: cover;
}

/* Diseño de ultimos 10 art */
.product-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: "Open sans", sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 250px;
  width: 25px;
}

/*# sourceMappingURL=app.css.map */
