$primary-color: #e68d10;
$secondary-color: #555;
$hover-button-color: #e68d10c9;

.barra {
  background-color: $primary-color;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;  
}

.logo-space {
  display: table;
  height: 250px;
  .logo-container {
    display: table-cell;
    vertical-align: middle;
  }
  .logo {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
  }
}

.top-bar {
  background-color: $secondary-color;
}
.title-bar {
  background-color: $primary-color;
}
.menu-container ul {
  background-color: $secondary-color;
}
nav {
  a {
    color: white;
  }
  a:focus,
  a:hover {
    color: white;
  }
  .submenu a {
    color: $secondary-color;
  }
  li:hover,
  li:focus {
    background-color: $primary-color;
  }
  .top-bar-right {
    li:hover,
    li:focus {
      background-color: transparent;
    }
  }
  .button {
    border-radius: 8px;
    background-color: $primary-color;
  }
  
  .button:hover,
  .button:focus {
    background-color: $hover-button-color ;
  }
}

footer{
  background-color: $secondary-color;
  height: 50px;
  text-align: center;  
  color: white;  
  .texto{
    line-height: 50px;    
  }    
}


.encabezado{
    margin: auto;    
    background: url("https://pmcvariety.files.wordpress.com/2016/03/dodgers-tv-rights.jpg");    
    opacity: 0.9;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    filter: brightness(0.6);
}
h1{
    line-height: 350px;  
    color: white;  
}
img{
    width: 800px;
    height: 350px;
}

