$primary-color: #e68d10;
$secondary-color: #555;
$hover-button-color: #e68d10c9;

.barra {
  background-color: $primary-color;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;  
}

.logo-space {
  display: table;
  height: 250px;
  .logo-container {
    display: table-cell;
    vertical-align: middle;
  }
  .logo {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
  }
}

.top-bar {
  background-color: $secondary-color;
}
.title-bar {
  background-color: $primary-color;
}
.menu-container ul {
  background-color: $secondary-color;
}
nav {
  a {
    color: white;
  }
  a:focus,
  a:hover {
    color: white;
  }
  .submenu a {
    color: $secondary-color;
  }
  li:hover,
  li:focus {
    background-color: $primary-color;
  }
  .top-bar-right {
    li:hover,
    li:focus {
      background-color: transparent;
    }
  }
  .button {
    border-radius: 8px;
    background-color: $primary-color;
  }
  
  .button:hover,
  .button:focus {
    background-color: $hover-button-color ;
  }
}

footer{
  background-color: $secondary-color;
  height: 50px;
  text-align: center;  
  color: white;  
  .texto{
    line-height: 50px;    
  }    
}





h1{
    text-align: center;
}
img{
    width: 700px;
    height: 300px;
    margin: auto;
    display: block;
    align-content: center;
}
.cita {
    max-width: 100%;
    position: relative;
  }
  
  .lateral {
    float: left;
    max-width: 350px;
    padding: 0 8px 8px 0;
  }
  
  .lateral .comillas {
    font-size: 100px;
    color: #8a8a8a;
    line-height: 8px;
  }
  
  .lateral .informacion {
    border-radius: 5px;
  }
  
  .lateral .informacion p {
    font-weight: 300;
  }
  
  .lateral .info-pefil {
    margin-bottom: 24px;
  }
  
  .lateral .info-pefil .foto-perfil img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 16px;
  }
  
  .lateral .info-pefil p {
    position: relative;
    top: 5px;
  }
  
  .lateral .info-pefil p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
  }
  
  .lateral .info-pefil p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: #8a8a8a;
  }
  
  @media screen and (max-width: 1023px) {
    .lateral {
      width: 100%;
      float: none;
      display: block;
      margin: auto;
      align-content: center;
    }
  }
  
  

