$primary-color: #e68d10;
$secondary-color: #555;
$hover-button-color: #e68d10c9;

.barra {
  background-color: $primary-color;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}

.logo-space {
  display: table;
  height: 250px;
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
}
.logo {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.top-bar {
  background-color: $secondary-color;
}

.dropdown.menu > li.is-active > a {
  background: transparent;
  color: white;
}

.title-bar {
  background-color: $primary-color;
}
.menu-container ul {
  background-color: $secondary-color;
  margin-top: 10px;
}
nav {
  a {
    color: white;
  }
  a:focus,
  a:hover {
    color: white;
  }
  .submenu a {
    color: $secondary-color;
  }
  li:hover,
  li:focus {
    background-color: $primary-color;
  }
  .top-bar-right {
    li:hover,
    li:focus {
      background-color: transparent;
    }
  }
  .button {
    border-radius: 8px;
    background-color: $primary-color;
  }

  .button:hover,
  .button:focus {
    background-color: $hover-button-color;
  }
}

img {
  width: 80px;
  height: 50px;
  border-radius: 50%;
  margin-top: -16px;
}

.top-bar-left{
  margin-top: 4px;
}

footer {
  background-color: $secondary-color;
  height: 50px;
  text-align: center;
  color: white;
  .texto {
    line-height: 50px;
  }
}


h4, p{
    text-align: center;
}
.encabezado{
    background-color: $secondary-color;// rgb(24, 21, 21);                
    color: $primary-color;
    border-radius: 5px;
    width: auto;    
}
.titulo{
    text-align: left;
    line-height: 50px;    
}
tr, td, th{
    border: rgba(128, 128, 128, 0.226) solid 1px;
}
