$primary-color: black;
$secondary-color: #d1bb29;
$button-color: #2150ac;
.logo{
    display: block;
    margin: auto;    
    width: 80px;
    height: 70px;
  }
  .button{  
    border-radius: 8px; 
    background-color: $button-color;   
  }
  .button:hover{
      background-color: $secondary-color;
  }
  #categ{
    line-height: 60px;
    color: $primary-color;
  }
  #categ:hover{
    background-color: $secondary-color;
  }
  .align-left{ 
    height: 40px;
    line-height: 40px;
    background-color: white;  
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  }
  a{
    color: $primary-color;
  }
  a:hover{
    color: $secondary-color;
  }

h4, p{
    text-align: center;
}
.encabezado{
    background-color: $secondary-color;// rgb(24, 21, 21);                
    color: $primary-color;
    border-radius: 5px;
}
.titulo{
    text-align: left;
    line-height: 50px;    
}
tr, td, th{
    border: rgba(128, 128, 128, 0.226) solid 1px;
}
img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
}