$primary-color: #e68d10;
$secondary-color: #555;
$hover-button-color: #e68d10c9;

.barra {
  background-color: $primary-color;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}

.logo-space {
  display: table;
  height: 250px;
  .logo-container {
    display: table-cell;
    vertical-align: middle;
  }
  .logo {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
  }
}

.top-bar {
  background-color: $secondary-color;
}
.title-bar {
  background-color: $primary-color;
}
.menu-container ul {
  background-color: $secondary-color;
}
nav {
  a {
    color: white;
  }
  a:focus,
  a:hover {
    color: white;
  }
  .submenu a {
    color: $secondary-color;
  }
  li:hover,
  li:focus {
    background-color: $primary-color;
  }
  .top-bar-right {
    li:hover,
    li:focus {
      background-color: transparent;
    }
  }
  .button {
    border-radius: 8px;
    background-color: $primary-color;
  }

  .button:hover,
  .button:focus {
    background-color: $hover-button-color;
  }
}

footer {
  background-color: $secondary-color;
  height: 50px;
  text-align: center;
  color: white;
  .texto {
    line-height: 50px;
  }
}

#login {
  margin: auto;
  width: 500px;
  background-color: #cacaca;
  border-radius: 7px;
  padding: 16px;
}

section {
  margin: auto;
  -webkit-background-size: cover;
  background-image: url("../imagenes/login.jpg");
  background-repeat: no-repeat;
}

a {
  color: black;
}
a:hover,
a:focus {
  color: $primary-color;
}
.button {
  border-radius: 8px;
  background-color: $primary-color;
}

.button:hover,
.button:focus {
  background-color: $hover-button-color;
}

/* Estilo para los botones */
.button-hover-reveal-wrapper {
  overflow: hidden;
  border: 2px solid $primary-color;
  border-radius: 5000px;
  text-align: center;
  width: 40%;
  background: white;
  display: flex;
  justify-content: center;
  margin: auto;

  &:hover {
    border: none;
    background-color: $primary-color;
    transition: background-color 0.5s ease;

    .button-hover-reveal {
      display: block;
      font-size: 16px;
      padding: 22px;

      &:hover {
        transition: background-color 0.5s ease;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    label {
      display: none;
    }
  }

  .button-hover-reveal {
    display: none;
    color: white;
    width: 50%;
    z-index: 1;
  }

  .opcion {
    color: white;
  }

  label {
    padding: 16px;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }
}

.tabs-title > a:hover {
  background: transparent;
}
.tabs-title > a[aria-selected=true] {
  background: transparent;
}

