$primary-color: #e68d10;
$secondary-color: #555;
$hover-button-color: #e68d10c9;

.barra {
  background-color: $primary-color;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}

.logo-space {
  display: table;
  height: 250px;
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
}
.logo {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.top-bar {
  background-color: $secondary-color;
}

.dropdown.menu > li.is-active > a {
  background: transparent;
  color: white;
}

.title-bar {
  background-color: $primary-color;
}
.menu-container ul {
  background-color: $secondary-color;
  margin-top: 10px;
}
nav {
  a {
    color: white;
  }
  a:focus,
  a:hover {
    color: white;
  }
  .submenu a {
    color: $secondary-color;
  }
  li:hover,
  li:focus {
    background-color: $primary-color;
  }
  .top-bar-right {
    li:hover,
    li:focus {
      background-color: transparent;
    }
  }
  .button {
    border-radius: 8px;
    background-color: $primary-color;
  }

  .button:hover,
  .button:focus {
    background-color: $hover-button-color;
  }
}

a> img {
  width: 80px;
  height: 50px;
  border-radius: 50%;
  margin-top: -16px;
}

.top-bar-left {
  margin-top: 4px;
}

footer {
  background-color: $secondary-color;
  height: 50px;
  text-align: center;
  color: white;
  .texto {
    line-height: 50px;
  }
}

/* Estilo para el boton y formulario de creacion de anuncio */
h3 {
  text-align: center;
}
.button {
  border-radius: 20px;
}
.dropdown-pane {
  border-radius: 20px;
  width: 500px;
}
h6 {
  font-weight: 500;
}
[type="number"],
[type="text"],
[type="url"],
[type="date"] {
  border-radius: 20px;
}
.crear {
  background-color: $primary-color;
}


/* Estilo para  el listado de anuncios*/
.anuncio-contenido {
  margin-top: 30px;
  line-height: 30px;
}
.foto-anuncio {
  width: 400px;
  height: 200px;
  border-radius: 15px;
}
h4 > i {
  color: $secondary-color;

}
h4 > i:hover {
  color: $primary-color;
}
.nom-anuncio{
  text-align: left;
}





